    *{
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;  
    }
    
    body
    {
        background-color: rgb(3, 3, 56);
        font-family: 'Lato', sans-serif;
        color: rgb(228, 228, 228);   
    }
    
    /* HEADER START*/
    
    #menu
    {
        align-items: center;
        display: flex;
        background-color:#040458;
        position: fixed;
        font-size: 1em;
        height: 10vh;
        width: 100%;   
        flex-wrap: wrap;
        box-shadow: 2px 17px 8px -12px rgb(0, 13,53);
    }
    a
    {
        text-decoration: none;
        color: rgb(228, 228, 228);
        position: relative;
        padding: .2em;
    }
    #logo
    {
        padding-left: 2vmax;
        font-size: 30px;
        width: 65vmax;
        float: left;
        font-family: 'Montserrat', sans-serif;
    }
    
    ul {
        display: flex;
        align-items: center;
        color: rgb(78, 78, 78);
        text-decoration: none;
        list-style-type: none;
        justify-content: space-around;
        gap: 2.5vmax;
        padding-left: 2vmax;
    }
    
    li a:hover{
        color: teal;
    }

    .links::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        background-color: teal;
        height: .15em;
        border-radius: 10px;
        transition: .4s ease-in-out;
    }

    .links:hover::after{
        width: 100%;
    }
    /* HEADER END*/
    
    .Intro{
        height: 100vh;
        text-align: center;
        
    }
    /* INTRO */
    .text1{
        position: absolute;
        top: 350px;
        left: 0;
        right: 0;
        font-size: 55px;
        letter-spacing: 5px;
        z-index: 2;
        border-color: #040458;
        animation: intro 2.5s, 1;
    }


    @keyframes intro {
        20%{
            letter-spacing: 20px;
            color: #262670;
        }
    }
    /* INTRO */
    
    .container{
        background-color: #030347;
        width: auto;
        height: auto;
    }

    

    

    

    
    
    
    